*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --gray-950: #1d2026;
    --gray-500: #69707d;
    --gray-300: #c3cad9;
    --gray-100: #e4e9f2;
    --gray-50: #f6f8fd;
    --orange-500: #ff7e1b;
    --orange-300: #ffab6a;

    /* spacing */
    --space-1600: 8rem;
    --space-1300: 6.5rem;
    --space-1200: 6rem;
    --space-1000: 5rem;
    --space-900: 4.5rem;
    --space-700: 3.5rem;
    --space-600: 3rem;
    --space-500: 2.5rem;
    --space-400: 2rem;
    --space-300: 1.5rem;
    --space-200: 1rem;
    --space-100: 0.5rem;

    /* typography */
    --text-preset-1: bold 2.75rem/3rem "Kumbh Sans";
    --text-preset-2: bold 1.75rem/2rem "Kumbh Sans";
    --text-preset-3-bold: bold 1rem/1.625rem "Kumbh Sans";
    --text-preset-3: normal 1rem/1.625rem "Kumbh Sans";
    --text-preset-4: normal 0.9375rem/1.625rem "Kumbh Sans";
    --text-preset-5: bold 0.8125rem/1rem "Kumbh Sans";
    --text-preset-6: bold 0.75rem/0.9375rem "Kumbh Sans";
}

body {
    padding-bottom: 3.375rem;
}

button:hover,
button:focus {
    outline-color: var(--orange-500);
}

header {
    /* padding-inline: 1.5rem;
    padding-block-start: 1.25rem;
    padding-block-end: 1.5rem; */
    padding: 1.5rem;
    max-width: 38rem;
    margin-inline: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    display: none;
    border: 0.0625rem solid var(--gray-100);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.menu__button {
    align-self: flex-end;
    background: none;
    border: none;
}

.menu__button:hover,
.menu__button:focus {
    cursor: pointer;
}

.menu__button:hover .menu__icon,
.menu__button:focus .menu__icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(4%) saturate(1455%)
        hue-rotate(177deg) brightness(99%) contrast(101%);
}

.menu__list {
    list-style: none;
    display: none;
    column-gap: 2rem;
}

.menu__list--item {
    position: relative;
}

.menu__link {
    text-decoration: none;
    font: var(--text-preset-4);
    color: var(--gray-500);
}

.menu__link:hover {
    color: var(--gray-950);
}

.menu__link:focus {
    color: var(--gray-950);
    outline-color: var(--orange-500);
}

.menu__link:hover::after,
.menu__link:focus::after {
    content: "";
    position: absolute;
    border: 2px solid var(--orange-500);
    left: 0;
    bottom: -2.75rem;
    width: 100%;
}

.account {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.cart {
    background: none;
    border: none;
    position: relative;
}

.cart:hover,
.cart:focus {
    cursor: pointer;
}

.cart__icon {
    height: 1.25rem;
}

.cart:hover .cart__icon,
.cart:focus .cart__icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(4%) saturate(1455%)
        hue-rotate(177deg) brightness(99%) contrast(101%);
}

.checkout {
    position: absolute;
    z-index: 1;
    left: -50%;
    border: none;
    background: var(--white);
}

.avatar {
    border-radius: 100%;
    background: none;
    border: none;
}

.avatar:hover,
.avatar:focus {
    outline: 0.125rem solid var(--orange-500);
    cursor: pointer;
}

.avatar__icon {
    height: 1.5rem;
}

main {
    max-width: 38rem;
    margin-inline: auto;
}

.openlightbox {
    width: 100%;
    border: none;
    border-radius: 0.9375rem;
    background: none;
    cursor: pointer;
}

.slider__image {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    object-position: center;
}

.slider__content {
    position: relative;
}

.slider__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__button {
    padding: 0.875rem 0.979375rem;
    border-radius: 100%;
    border: none;
    background: var(--white);
}

.slider__button:hover,
.slider__button:focus {
    cursor: pointer;
}

.slider__button:hover .slider__icon,
.slider__button:focus .slider__icon {
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(7302%)
        hue-rotate(307deg) brightness(98%) contrast(104%);
}

.slider__icon {
    height: 0.75rem;
}

.thumbnails {
    display: none;
}

.thumbnails__list {
    list-style: none;
    display: flex;
    column-gap: 2rem;
}

.thumbnails__list--item {
    line-height: 0;
}

.thumbnails__button {
    border-radius: 0.625rem;
    border: none;
    background: var(--white);
    position: relative;
    cursor: pointer;
}

.thumbnails__button[data-selected="true"] {
    outline: 0.125rem solid var(--orange-500);
}

.thumbnails__button:hover::after,
.thumbnails__button[data-selected="true"]::after {
    content: "";
    border-radius: 0.625rem;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    opacity: 0.5;
}



.thumbnails__image {
    border-radius: 0.625rem;
}

.info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.info__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.info__title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.info__brand {
    font: bold 0.75rem / normal "Kumbh Sans";
    letter-spacing: 0.115625rem;
    color: var(--gray-500);
    text-transform: uppercase;
}

.info__header {
    font: var(--text-preset-2);
    color: var(--gray-950);
}

.info__description {
    font: var(--text-preset-4);
    color: var(--gray-500);
}

.cost {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cost__details {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
}

.amount {
    font: var(--text-preset-2);
    color: var(--gray-950);
}

.discount {
    font: var(--text-preset-3-bold);
    background: var(--black);
    color: var(--white);
    padding-inline: 0.625rem;
    border-radius: 0.375rem;
}

.cost__previously {
    font: var(--text-preset-3-bold);
    color: var(--gray-500);
    text-decoration: line-through;
}

.quantity {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.quantity__content {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.625rem;
    background: var(--gray-50);
}

.quantity__button {
    width: 1.625rem;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-color: var(--orange-500);
    cursor: pointer;
}

.quantity__button:hover .quantity__icon {
    filter: brightness(0) saturate(100%) invert(92%) sepia(43%) saturate(7302%)
        hue-rotate(307deg) brightness(98%) contrast(104%);
}

.quantity__amount {
    font: var(--text-preset-3-bold);
}

.add {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    background: var(--orange-500);
    border-radius: 0.625rem;
    border: none;
    box-shadow: 0 1.25rem 3.125rem #ff7e1b40;
}

.add:hover {
    cursor: pointer;
    background: var(--orange-300);
}

.add__icon {
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(4084%)
        hue-rotate(141deg) brightness(94%) contrast(93%);
}

.add__text {
    font: var(--text-preset-3-bold);
    color: var(--gray-950);
}

footer {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.panel {
    border: none;
    width: calc(100% * 2 / 3);
    max-width: 300px;
    min-height: 100%;
    padding: 1.5rem;
}

.panel__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3.5rem;
}

.panel__close {
    border: none;
    background: none;
}

.panel__close:hover,
.panel__close:focus {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(51%) sepia(68%) saturate(881%) hue-rotate(345deg) brightness(100%) contrast(103%);
}

.panel__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.panel__list--link {
    color: var(--black);
    font: bold 1.125rem/1.625rem "Kumbh Sans";
    text-decoration: none;
}

.lightbox {
    border: none;
    background: none;
    max-width: 550px;
    margin: auto;
    overflow: visible;
}

.lightbox::backdrop {
    background: var(--black);
    opacity: 0.5;
}

.lightbox__content {
    display: flex;
    flex-direction: column;
}

.lightbox__close {
    align-self: flex-end;
    width: 1.25rem;
    border: none;
    background: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(104%) contrast(104%);
}

.lightbox__close:hover,
.lightbox__close:focus {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(65%) sepia(45%) saturate(4731%) hue-rotate(346deg) brightness(100%) contrast(102%);
}

.lightbox__close--image {
    width: 100%;
}

.lightbox__slider {
    margin-block-start: 1.5rem;
    margin-block-end: 2.5rem;
    position: relative;
}

.lightbox__slider--image {
    border-radius: 1rem;
}

.lightbox__control {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lightbox__control--left {
    padding: 1.1875rem 1.34375rem;
    margin-inline-start: -1.75rem;
    border: none;
    border-radius: 1.75rem;
}

.lightbox__control--right {
    padding: 1.1875rem 1.34375rem;
    margin-inline-end: -1.75rem;
    border: none;
    border-radius: 1.75rem;
}

.lightbox__control--left:hover,
.lightbox__control--right:hover {
    cursor: pointer;
}

.lightbox__control--left:hover .lightbox__control--image,
.lightbox__control--right:hover .lightbox__control--image {
    filter: brightness(0) saturate(100%) invert(53%) sepia(92%) saturate(1540%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.lightbox__thumbnails {
    max-width: 448px;
    align-self: center;
}


@media screen and (min-width: 40rem) {
    body {
        padding-block-start: 1.75rem;
    }

    header {
        width: 80%;
        max-width: 1110px;
        padding: 0;
    }

    .account {
        column-gap: 3rem;
    }

    nav {
        margin-block-end: 2rem;
    }

    .avatar__icon {
        height: 3.125rem;
    }

    .slider__content {
        margin-block: 3rem;
    }

    .slider__image {
        border-radius: 0.9375rem;
        height: 18.125rem;
    }

    .divider {
        display: block;
    }

    main {
        width: 80%;
        max-width: 1110px;
    }

    .info {
        padding: 0;
        row-gap: 1.5rem;
    }

    .info__content {
        row-gap: 1.5rem;
    }

    .info__title {
        row-gap: 1.5rem;
    }

    .info__brand {
        letter-spacing: 0.125rem;
    }

    .info__header {
        font: var(--text-preset-1);
    }

    .info__description {
        font: var(--text-preset-3);
    }

    .cost {
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .cost__details {
        column-gap: 1.5rem;
    }

    .quantity {
        flex-direction: row;
        column-gap: 0.5rem;
    }

    .quantity__content {
        flex: 1;
    }

    .add {
        flex: 1;
    }
}

@media screen and (min-width: 64rem) {
    .menu__button {
        display: none;
    }

    .menu {
        column-gap: 3.5rem;
    }

    .menu__list {
        display: flex;
    }

    main {
        margin-block-start: 6rem;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8rem;
    }

    .slider {
        flex: 1;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .slider__content {
        margin: 0;
    }

    .slider__image {
        height: 27.8125rem;
    }

    .slider__control {
        display: none;
    }

    .thumbnails {
        display: block;
    }

    .info {
        flex: 1;
    }

    .quantity {
        column-gap: 1rem;
    }

    .add {
        flex: 2;
    }
}
